NET "clk" LOC = P184  ;

NET "rs"  LOC = "p36"  ;
NET "rw"  LOC = "p40";
NET "en"  LOC ="p39"   ;
NET "dat[0]"  LOC ="p42"  ;
NET "dat[1]"  LOC = "p41"  ;
NET "dat[2]"  LOC =  "p47"  ;
NET "dat[3]"  LOC = "p45"  ;
NET "dat[4]"  LOC = "p49"  ;
NET "dat[5]"  LOC =  "p48"    ;
NET "dat[6]"  LOC = "p55"  ;
NET "dat[7]"  LOC =  "p50"   ;
NET "LCD_N"  LOC = "p64"  ;
NET "LCD_P"  LOC =  "p65"    ;
NET "PSB"  LOC = "p61"  ;
NET "LCD_RST"  LOC =  "p63"    ;

NET "key_up"  LOC = "p122"  ;
NET "key_down"  LOC = "p116"  ;
NET "key_left"  LOC = "p119"  ;
NET "key_right"  LOC = "p120"  ;
NET "key_press"  LOC = "p115"  ;

NET "key_up"    PULLUP;
NET  "key_down"   PULLUP;
NET "key_left"   PULLUP;
NET "key_right"   PULLUP;
NET "key_press"   PULLUP;
